<p-messages [(value)]="msgs"></p-messages>
<p-card>
  <h3>Dados Pessoais</h3>
  <form [formGroup]="dadosPessoaisForm">
  <div class="p-fluid formgrid grid">
    <div class="field col-12 md:col-6">
      <label>Nome</label>
      <input [(ngModel)]="dadosPessoaisClass!.firstName" pInputText formControlName="firstName">
  </div>
  <div class="field col-12 md:col-6">
      <label>Sobrenome</label>
      <input [(ngModel)]="dadosPessoaisClass!.lastName" formControlName="lastName" pInputText>
  </div>
  </div>
  <div class="p-fluid formgrid grid">
    <div class="field col-12 md:col-7">
      <label>Email</label>
      <input [(ngModel)]="dadosPessoaisClass!.email" pInputText formControlName="email">
  </div>
  <div class="field col-12 md:col-5">
    <label for="basic">Data de Nascimento</label>
    <p-calendar [(ngModel)]="dadosPessoaisClass!.dtBorn" [showIcon]="true" formControlName="dtBorn" dateFormat="dd/mm/yy"></p-calendar>
</div>
  </div>
</form>
<ng-template pTemplate="footer">
  <div class="grid grid-nogutter justify-content-end">
      <p-button label="Next" (click)="next()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>
</ng-template>
</p-card>
